/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom style
========================================================================== */

/* ==========================================================================
General
========================================================================== */
html {
	min-height: 100%;
	position: relative;
	color: #585858;
	font-family: Arial;
}
body {
	padding: 0;
	margin: 0 o 40px 0;
	font-family: Arial;
	font-size: 13px;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	margin-left: 15px;
}
a { 
	text-decoration: none;
	color: #585858;
}
a:hover {
	color: #000;
}
.active,
.active:hover {
	border-bottom: 3px solid #4285F4;
	color: #4285F4;
	font-weight: bold;
	padding-bottom: 14px;
}
.active a {

}

img[src*="icon"] {
	opacity: 0.6;
}
img[src*="icon"]:hover {
	opacity: 1;
}


/* ==========================================================================
Header General
========================================================================== */
header {
	display:none;
}
.navbardefault, 
.subnav {
	border-bottom: 1px solid #E5E5E5;
}
.navbardefault {
	height: 60px;
	background-color: #F1F1F1;
}
.navbardefault ul {
	display: inline-block;
}
.navbardefault ul li,
.subnav ul li {
	display: inline;
}
.subnav ul {
	width: 100%;

}
.navbardefault input {
	display: none;
}
#searchbar,
.navbardefault input {
	height: 25px;	
	width: 630px;
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../img/search.png') no-repeat 6px 10px;
	background-color: #fff;	
	border: 1px solid #e0e0e0;
}
#searchbar:hover,
input[type="text"]:hover {
	border: 1px solid #bdbdbd;
}
#searchbar:focus,
input[type="text"]:focus {
	border: 1px solid #4386f9;
}

img[src*="logo"] {
	height: 40px;
	margin: 10px 14px;
}

/* Menu Mobile */
.mobilemenu,
.mobilemenu li {
	padding: 0;
	margin: 0;
}
.mobilemenu {
	height: 60px;
	background-color: #F1F1F1;
	position: fixed;
	top: 0;
	width: 100%;
}
.btn {
	cursor: pointer;
	margin: 14px;
	float: right;
}
#nav {
	display: none;
}
.navmobile ul {
	position: fixed;
	top: 60px;
	width: 100%;
}
.navmobile li {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid black;
}
/* ==========================================================================
Header MainPage
========================================================================== */

.navbar li {
	display: inline;
}

.tt {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 15px;
}
.btn-group {
	margin-top: 20px;
}
.btn-group a {
	text-decoration: none;
	color: #757575;
	background-color: #eeeeee;
	padding: 10px 20px 10px 20px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;

}
.btn-group a:hover {
	border: 1px solid #bdbdbd;
	font-weight: bold;
	color: black;
}

/* ==========================================================================
Main-content Index
========================================================================== */

.index {
	text-align: center;
	margin-top: 110px;
	margin-bottom: 40px;
}

#searchbar {
	display: block;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.index button {
	margin: 30px 8px;
	cursor: pointer;
}
.index h1 {
	display: inline-block;
	width: 100%;
}


/* ==========================================================================
Footer
========================================================================== */

footer {
	height: 40px;
	background-color: #F2F2F2;
	width: 100%;
	position: absolute;
	bottom: 0;
}
footer p {
	width: 100%;
	text-align: center;
}


/* ==========================================================================
Portfolio
========================================================================== */
.portfolio {
	width: 100%;
	margin: 50px 0 50px 0;

}
.thumbnails {
	max-width: 230px;
	margin: 20px 20px;
	padding: 0;
	position: relative;
	border-radius: 10px;

}
.thumbnails img {
	width: 100%;
	z-index: 0;
	border-radius: 10px;
	border: 2px solid #757575;
}
.thumbnails figcaption {
	line-height: 60px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 1;
	border: 2px solid #424242;
	border-radius: 0 0 10px 10px;
	display: none;
}
.thumbnails:hover {
	box-shadow: -2px 4px 4px 4px #4386f9;
}
.thumbnails:hover figcaption {
	display: block;
}
.thumbnails:hover img {
	border: 2px solid #424242;
}


/* ==========================================================================
About
========================================================================== */

.about {
	width: 90%;
	margin: 5% 5%;
}
.about figure {
	width: 100%;
	border-radius: 10px;
	background-color: #F1F1F1;
}
.about figure figcaption {
	padding: 10px;
}
.about figure figcaption, h2 {
	background-color: #F1F1F1;
	border-radius: 10px;
	color: #4285F4;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;

}
h2, .content figcaption {
	text-decoration: underline;
}

/* Article principal */
.left article {
	background-color: #F1F1F1;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0;
}
.job {
	color: #006621;
}
article p, article h2 {
	margin: 0;
}
article a {
	color: #1A0DAB;
}
article a:hover {
	color: #1A0DAB;
	text-decoration: underline;
}
/* Aside */
.right img[src="img/toto.png"] {
	min-height: 0;
	min-width: 0;
	max-height: 400px;
        width: 100%;	
	border-radius: 10px;
}
.right .img-container {
	border-radius: 10px;
	background-color: #F1F1F1;
	padding: 10px;
}

/* Twitter */
.twitter {
	margin: 0;	
	padding-bottom: 10px;
}
.twitter figcaption h2 {
	text-decoration: underline;
	display: inline-block;
	margin: 0;
}
.twitter figcaption span {
	font-size: 14px;
	color: #585858;

}
.twitter-timeline {
	background-color: #F1F1F1;

}


/* Skills bars */


.content {
	margin: 20px 0 0 0;
	position: relative;
	float: left;
	font-size: 12px;
	line-height: 2em;
	}

.col {
	width: 100%;
}

#skill {
	list-style: none;
	padding: 10px;
}

#skill li {
	margin-left: 0;
	margin-bottom: 25px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid #E5E5E5;
	background-color: #FFF;
}
#skill li:last-child {
	margin-bottom: 0;
}
#skill li em {
	position: relative;
	top: -20px;
}

.expand {
	height: 20px;
	margin: 2px 0;
	border-radius: 10px;
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
	color: #FFF;
	font-weight: bold;
	line-height: 20px;
	text-indent: 12px;
}

.html5 {
	width: 70%;
	-moz-animation: html5 2s ease-out;
	-webkit-animation: html5 2s ease-out;
	background: #2187e7;

}

.css3 {
	width: 90%;
	-moz-animation: css3 2s ease-out;
	-webkit-animation: css3 2s ease-out;
	background: #4caf50;

}

.javascript {
	width: 50%;
	-moz-animation: javascript 2s ease-out;
	-webkit-animation: javascript 2s ease-out;
	background: #f44336;

}

.php {
	width: 25%;
	-moz-animation: php 2s ease-out;
	-webkit-animation: php 2s ease-out;
	background: #ffa000;

}



@-moz-keyframes html5 {
	0% {
		width: 0px;
	}

	100% {
		width: 70%;
	};
}

@-moz-keyframes css3 {
	0% {
		width: 0px;
	}

	100% {
		width: 90%;
	};
}

@-moz-keyframes javascript {
	0% {
		width: 0px;
	}

	100% {
		width: 50%;
	};
}

@-moz-keyframes php {
	0% {
		width: 0px;
	}

	100% {
		width: 25%;
	};
}


/* ##################################################################### */
/* ##########################   SMARTPHONE   ########################### */
/* ##################################################################### */
@media screen and (min-width:500px) {
	/* Menu */
header {
	display: block;
}
.mobilemenu {
	display: none;
}
}


/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */

@media screen and (min-width:700px) {


	/* About */
.left {
	width: 60%;
}
.right {
	width: 35%;
}
.left article {
	margin: 0 0 20px 0;
}
}




/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */

@media screen and (min-width: 1000px) {
	.navbardefault input {
		display: inline-block; 
	}
	.subnav ul {
		justify-content: flex-start;
}
}

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
