

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom style
========================================================================== */

/* ==========================================================================
Fonts
========================================================================== */

* figcaption,
* button  {
	font-family: 'Ubuntu';
	font-weight: bold;
}
* h3,
* legend,
* span {
	font-family: 'Ubuntu';
	font-weight: medium;
}
* a {
	font-family: 'Ubuntu';
	font-weight: normal;
}
* p,
* input {
	font-family: 'Ubuntu';
	font-weight: light;
}

	

/* ==========================================================================
General
========================================================================== */
html {
	min-height: 100%;
	position: relative;
	color: #585858;
	font-family: Arial;
}
body {
	padding: 0;
	margin: 0 o 40px 0;
	font-family: Arial;
	font-size: 13px;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	margin-left: 15px;
}
a { 
	text-decoration: none;
	color: #585858;
}
a:hover {
	color: #000;
}
.active,
.active:hover {
	border-bottom: 3px solid #4285F4;
	color: #4285F4;
	font-weight: bold;
	padding-bottom: 14px;
}
.active a {

}

img[src*="icon"] {
	opacity: 0.8;
}
img[src*="icon"]:hover {
	opacity: 1;
}
legend {	
	color: #006621;
	margin: 20px 0 5px 0;
	font-size: 16px;
	font-weight: bold;
}
button {
	border:2px solid #df0909;
	border-radius: 10px;
	font-size: 24px;
	line-height: 30px;
	margin: 5px 0;
	color: #df0909;
	background-color: #FFF;
	opacity: 0.7;
	font-weight: bold;
	transition: 1s;
}

button:hover {
	border:2px solid #b30808;
	color: #b30808;
	opacity: 1;
	transition: 1s;
}
/* ==========================================================================
Header General
========================================================================== */
header {
	display:none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.navbardefault, 
.subnav {
	border-bottom: 1px solid #E5E5E5;
}
.navbardefault {
	height: 60px;
	background-color: #F1F1F1;
}
.subnav {
	background-color: #fff;
	margin: 0;
	padding-top: 4px;
}
.navbardefault ul {
	display: inline-block;
}
.navbardefault ul li,
.subnav ul li {
	display: inline;
	margin: 0;
}
.subnav ul {
	width: 100%;
}
.navbardefault input {
	display: none;
}
#searchbar,
.navbardefault input {
	height: 25px;	
	width: 630px;
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../img/search.png') no-repeat 6px 10px;
	background-color: #fff;	
	border: 1px solid #e0e0e0;
}


img[src*="logo"] {
	height: 40px;
	margin: 10px 14px;
}

/* Menu Mobile */
.mobilemenu,
.mobilemenu li {
	padding: 0;
	margin: 0;
}
.mobilemenu {
	height: 60px;
	background-color: #F1F1F1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #E5E5E5;
}
.btn {
	cursor: pointer;
	margin: 14px;
	float: right;
}
#nav {
	display: block;
	visibility: hidden;
}
#btnMenu:focus + #nav {
	visibility: visible;
}
.navmobile ul {
	position: fixed;
	top: 60px;
	width: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.navmobile li {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	border-bottom: 2px solid #F1F1F1;
	background-color: #fff;
}
.navmobile li a {
	display: block;
}
.navmobile li:first-child {
	border-top: 2px solid #F1F1F1;
}
.navmobile > ul > li:hover > a {
	color: #fff;
	font-size: 1.05rem;
	font-weight: bold;
}
.navmobile > ul > li:hover {
	background: #4285F4;
	line-height: 55px;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

}
/* ==========================================================================
Header MainPage
========================================================================== */

.navbar li {
	display: inline;
}

.tt {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 15px;
}
.btn-group {
	margin-top: 20px;
}
.btn-group a {
	text-decoration: none;
	color: #757575;
	background-color: #eeeeee;
	padding: 10px 20px 10px 20px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;

}
.btn-group a:hover {
	border: 1px solid #bdbdbd;
	font-weight: bold;
	color: black;
}

/* ==========================================================================
Main-content Index
========================================================================== */
canvas {
	opacity: 0.7;
	pointer-events: none;/* make the canvas transparent to the mouse - needed since canvas is position infront of image */
	position: absolute;
}
.butchermenu {
	position: relative;
	overflow: hidden;
}
.index {
	margin: 60px 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

/* ==========================================================================
Footer
========================================================================== */

footer {
	height: 40px;
	background-color: #F2F2F2;
	width: 100%;
	position: absolute;
	bottom: 0;
}
footer p {
	width: 100%;
	text-align: center;
}


/* ==========================================================================
Portfolio
========================================================================== */
.portfolio {
	width: 90%;
	margin: 80px 5% 50px 5%;
	background-color: #F1F1F1;
	border-radius: 10px;
       /* padding: 10px;*/

}
.thumbnails {
	width: 80vw;
	height: 80vw;
	overflow: hidden;
	margin: 20px 0;
	padding: 0;
	position: relative;
	border-radius: 10px;
	border: 1px solid #757575;

}

.thumbnails img {
	width: 100%;
	overflow: hidden;
	z-index: 0;
	border-radius: 10px;
}
.thumbnails figcaption {
	line-height: 60px;
	width: 100%;
	background-color: rgba(241, 241, 241, 0.9);
	position: absolute;
	bottom: 0;
	z-index: 1;
	border-top: 1px solid #424242;
	border-radius: 0 0 10px 10px;
	visibility: hidden;
	color: #424242;
	font-size: 18px;
}
.thumbnails figcaption p {
	margin-left: 8px;
}
figure:hover {
	box-shadow: -2px 2px 1px 1px rgba(67, 134, 249, 0.4);
	transition: 1s;
}
.thumbnails:hover figcaption {
	display: block;
	transition: 1s;
	visibility: visible;
	border-top: 1px solid #424242;
}
.thumbnails:hover {
	border: 1px solid #424242;
	transition: 1s;
}


/* ==========================================================================
About
========================================================================== */
.about {
	width: 90%;
	margin: 80px 5% 5% 5%;
}
.mail, .social-links,
.about figure {
	width: 100%;
	border-radius: 10px;
	background-color: #F1F1F1;
}
.contact figure figcaption,
.about figure figcaption {
	padding: 10px;
}
.contact figure figcaption,
.about figure figcaption, h2 {
	background-color: #F1F1F1;
	border-radius: 10px;
	color: #4285F4;
	font-size: 22px;
}

h2, .content figcaption,
.contact figcaption,
.wiki figcaption{
	text-decoration: underline;
}

/* Article principal */
.left, .right {
	width: 100%;
}
.wiki {
	margin-left: 0;
}
.job {
	color: #006621;
}
.wiki p, .wiki h3 {
	margin: 0 15px;
}
.wiki a {
	color: #1A0DAB;
}
.wikilinks {
	padding:5px 0 10px 0;
}
.wiki a:hover {
	color: #1A0DAB;
	text-decoration: underline;
}
/* Aside */
.right img[src="img/toto.png"] {
	min-height: 0;
	min-width: 0;
	max-height: 400px;
	border-radius: 10px;
	width: 90%;
	height: 90%;
	margin: 5% 5% 0 5%;
}
.img-container {
	margin: 0;
	padding: 10;
}
.img-container ul {
	padding: 10px;
}
.img-container span {
	line-height: 30px;
}
/* Twitter */
.twitter {
	margin: 0;	
	padding-bottom: 10px;
}
.twitter figcaption h2 {
	text-decoration: underline;
	display: inline-block;
	margin: 0;
}
.twitter figcaption span {
	font-size: 14px;
	color: #585858;

}
.twitter-timeline {
	background-color: #F1F1F1;

}


/* Skills bars */


.content {
	margin: 20px 0 0 0;
	position: relative;
	float: left;
	font-size: 12px;
	line-height: 2em;
	}

.col {
	width: 100%;
}

#skill {
	list-style: none;
	padding: 10px;
}

#skill li {
	margin-left: 0;
	margin-bottom: 25px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid #E5E5E5;
	background-color: #FFF;
}
#skill li:last-child {
	margin-bottom: 0;
}
#skill li em {
	position: relative;
	top: -20px;
}

.expand {
	height: 20px;
	margin: 2px 0;
	border-radius: 10px;
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
	color: #FFF;
	font-weight: bold;
	line-height: 20px;
	text-indent: 12px;
}

.html5 {
	width: 70%;
	-moz-animation: html5 2s ease-out;
	-webkit-animation: html5 2s ease-out;
	background: #2187e7;

}

.css3 {
	width: 90%;
	-moz-animation: css3 2s ease-out;
	-webkit-animation: css3 2s ease-out;
	background: #4caf50;

}

.javascript {
	width: 50%;
	-moz-animation: javascript 2s ease-out;
	-webkit-animation: javascript 2s ease-out;
	background: #f44336;

}

.php {
	width: 25%;
	-moz-animation: php 2s ease-out;
	-webkit-animation: php 2s ease-out;
	background: #ffa000;

}



@-moz-keyframes html5 {
	0% {
		width: 0px;
	}

	100% {
		width: 70%;
	};
}

@-moz-keyframes css3 {
	0% {
		width: 0px;
	}

	100% {
		width: 90%;
	};
}

@-moz-keyframes javascript {
	0% {
		width: 0px;
	}

	100% {
		width: 50%;
	};
}

@-moz-keyframes php {
	0% {
		width: 0px;
	}

	100% {
		width: 25%;
	};
}

/* ==========================================================================
Contact
========================================================================== */

.contact {
	width: 90%;
	margin: 80px 5% 5% 5%;
}
.mail {
	margin: 20px 0 0 0;
}
.social-links {
	margin: 0;
}
.social-links ul {
	margin-left: 10%;
}
.social-links, .mail {
	padding: 10px;
}
.social-links li {
	line-height: 25px;
	margin: 10px;	
}
.social-links img {
	height: 32px;
}
.contact form {
	width: 90%;
	margin: 0 5%;
}
.mail form textarea,
.mail form input {
	width: 100%;
	border-radius:15px;
	padding: 6px 0;
	margin:0; 
}
.mail form textarea,
.mail form input {
	opacity: 0.5;
}
.mail form textarea:hover,
.mail form textarea:focus,
.mail form input:hover,
.mail form input:focus {
	opacity: 1;
	transition: 0.75s;
}
.mail button {
	width: 100%;
	margin: 0;	
}
.mail form textarea {
	height: 150px;
}
/* ##################################################################### */
/* ##########################   SMARTPHONE   ########################### */
/* ##################################################################### */
@media screen and (min-width:500px) {
	/* Menu */
header {
	display: block;
}
.mobilemenu {
	display: none;
}
.index,
.portfolio,
.contact,
.about {
	margin-top: 130px;
}
}

/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */

@media screen and (min-width:700px) {


	/* About */
.left {
	width: 60%;
}
.right {
	width: 35%;
}
.wiki {
	margin: 0 0 20px 0;
}

/* Portfolio */
.thumbnails {
	width: 40vw;
	height: 40vw;
}
}




/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */

@media screen and (min-width: 1000px) {
	.mail {
		width: 60%;
		margin-top: 0;
	}
	.social-links {
		width: 35%;
	}
	.navbardefault input {
		display: inline-block; 
	}	
	.thumbnails {
		width: 27vw;
		height: 27vw;
	}
}

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
